@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Помилка.</h1>
<h2 class="text-danger">Щось пішло не так під час обробки запиту.</h2>

<p>
    <strong>Режим розробки:</strong> Перемикання в середовище <code>Development</code> відобразить детальнішу інформацію.
</p>